footer{
    background: rgb(79, 79, 79);
    height: 10rem;
    width: auto;
    color: #fff;
}

.footer-content{
    display: flex;
    padding-top: 10px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.footer-content p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
    color: #cacdd2;
}

.footer-content i {
    color: #ffffff ;
}